name: "pull-request-test"
on:
    pull_request:
        types: [opened, reopened, synchronize]
        branches:
            - main

jobs:
    # unit tests
    units:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: npm ci
            - run: npm test

    # test action works running from the graph
    call-build-test:
        needs: units
        uses: ./.github/workflows/build-dist.yml

