name: "push-test"
on:
    pull_request:
        types: [opened, reopened]
        branches: [main]
    push:
        branches:
            - develope

env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    GITHUB_REPOSITORY: ${{ github.repository }}
    RECORD_DAY_RANGE: "300" #TODO remove
    RANK_JSON_PATH: ./contributor-leader-board.json #option
    MARKDOWN_PATH: ./README.md #option
    DISPLAY_CONTRIBUTOR_COUNTS: "10" #option
    MARKDOWN_INSERT_KEY: CONTRIBUTION-LEADER-BOARD-TABLE #option

jobs:
    # unit tests
    units:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: npm ci
            - run: npm test

    # run scripts
    test:
        needs: units
        if: ${{ success() && github.event_name == 'push' }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - uses: ./
              name: run scripts for testing
              with:
                  branch: develope
                  GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }} # required
                  GITHUB_REPOSITORY: ${{ env.GITHUB_REPOSITORY }} # required
                  RANK_JSON_PATH: ${{ env.RANK_JSON_PATH }} #option
                  MARKDOWN_PATH: ${{ env.MARKDOWN_PATH }} #option
                  DISPLAY_CONTRIBUTOR_COUNTS: ${{ env.DISPLAY_CONTRIBUTOR_COUNTS }} #option
                  MARKDOWN_INSERT_KEY: ${{ env.MARKDOWN_INSERT_KEY }} #option


